.site-header {
  background: transparent;
  margin-bottom: 1.5em;

  .site-logo {
    max-width: 200px;
    display: block;
  }
  .mainBar {
    padding-top: 1.325em;
    padding-bottom: 1.325em;

  }
  
  .row, .wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:after,
    &:before {
      content:initial;
    }
  }

  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    
    li {
      list-style: none;

      a {
        &:link,
        &:visited {
          padding: .5em 0;
          display: inline-block;
          position: relative;

          &:after {
            content:'';
            position: absolute;
            width: 0;
            left: 50%;
            bottom: 0;
            border-bottom: 2px solid transparent;
            @include transition(all 0.2s ease-in-out);
          }
          
        }
        &:hover,
        &:active,
        &:focus {
          &:after {
            width: 100%;
            left: 0;
            border-bottom: 2px solid $lightGreen;
          }
        }
      }
    }
  }
  .topBar {
    background: $lightBrown;
    border-bottom: 2px solid $darkBrown;

    .row {
      margin: 0;
    }
    p {
      margin-bottom: 0;
    }
    form {
      padding: .5em 0;
    }
    .topContact {
      font-size: .8125em;

      a {
        display: inline-block;
        margin-left: 1em;
        padding-left: 1em;
        border-left: 2px solid $green;
      }
    }
  }
}
