// Grays
// -------------------------
$black:                 #000;
$grayDarker:            #222;
$grayDark:              #333;
$gray:                  #555;
$grayLight:             #d4d4d4;
$grayLighter:           #eee;
$white:                 #fff;


// Accent colors
// -------------------------
$brown:                 #A28E74;
$lightBrown:            #eedbc3;
$lightBrownTrans:       rgba(238, 219, 195, .5);
$darkBrown:             #554735;
$blue:                  #51a5ae;
$blueTrans:             rgba(81, 165, 174, .75);
$lightBlue:             #83D5C6;
$darkBlue:              darken($blue,10%);
$red:                   #c33c54;
$lightRed:							lighten($red,10%);
$darkRed:               darken($red,10%);
$green:                 #09492b;
$greenTrans:            rgba(9, 73, 43, .5);
$lightGreen:            lighten($green,10%);
$darkGreen:             darken($green,10%);



// Site Colors
// -------------------------
$primary-color:   $brown;
$secondary-color:	$green;



// Typography
// -------------------------
//$font-stack:      Helvetica, sans-serif;

$sansFontFamily:        'Fira Sans', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$serifFontFamily:       'Fira Sans Condensed', Georgia, "Times New Roman", Times, serif;
$monoFontFamily:        Monaco, Menlo, Consolas, "Courier New", monospace;

$baseFontSize:          16px;
$baseFontFamily:        $sansFontFamily;
$baseLineHeight:        22px;
$altFontFamily:         $serifFontFamily;

$headingsFontFamily:    inherit; // empty to use BS default, @baseFontFamily
$headingsFontWeight:    bold;    // instead of browser default, bold
$headingsColor:         inherit; // empty to use BS default, @textColor